<link rel="stylesheet" href="auth-employee.component.css">
<form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm">
  <div class="container">
        <label>Login</label>
        <div class="flex">
          <input
            type="text"
            id="text"
            ngModel
            name="login"
            required email>
        </div>
        <label>Heslo</label>
        <div class="flex">
          <input
            type="password"
            id="password"
            ngModel
            name="password"
            required
            minlength="6">
        </div>
        <hr>
<div class="flex">
  <button type="submit" class="btn" >PŘIHLÁSIT SE</button>
</div>
    </div>
</form>
