body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: rgb(51 51 51 / 15%) 0px 0px 1.25rem;
}

.logo {
  color: #00843d;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: bold;
}

.flex {
  display: flex;
  gap: 25px
}

.nav-links a{
  color: #333;;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
}

.nav-links li{
  list-style: none;
}

.nav-links a:hover {
  border-bottom: #00843d solid 3px;
  color: #00843d;
}



