<link rel="stylesheet" href="auth.component.css">
<form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
<div class="container">

      <label>Zadejte indentifikační kód žádosti o úvěr</label>
      <div class="flex">
        <input
        type="text"
        id="token"
        [(ngModel)] = "token"
        name="token">
      </div>
      <hr>
<div class="flex">
  <button type="submit" class="btn btn-success">PŘIHLÁSIT SE</button>
</div>
<p class="clientExist" *ngIf="errorMessage">
  Bohužel se nám vaši žádost nepodařilo dohledat. Zkontrolujte si správnost identifikačního kódu.
</p>
</div>


</form>
