<form> 
  <div class="form-calculation">
    <h2>Úvěrová kalkulačka</h2>

    <div class="boxDiv">
      <div class="flexBetween">
        <span class="biggerFont"> Výše úvěru </span>
        <span class="changeOfAmountInput">
          <input
            #amount
            type="number"
            id="amount"
            placeholder="Zadejte částku"
            min="5000"
            max="1200000"
            name="amount"
            step="1000"
            (input)="changeOfAmount($event)"
            [(ngModel)]="amountOfMoney"
          />
          <span>Kč</span>
        </span>
      </div>

      <div class="flex rangeInput">
        <input
          #amountRange
          type="range"
          id="amountRange"
          name="amountRange"
          min="5000"
          max="1200000"
          value="50000"
          step="{{ amountOfMoney >= 100000 ? 5000 : 1000}}"
          [(ngModel)]="amountOfMoney"
          (input)="changeAmountRange($event)"
        />
      </div>
      <div class="flexBetween">
        <span>5 000</span>
        <span>1 200 000</span>
      </div>
    </div>

    <div class="boxDiv">
      <div class="flexBetween">
        <span class="biggerFont"> Doba splácení </span>
        <span class="changeOfNumOfMonthsInput">
          <input
            #numOfMonths
            type="number"
            id="time"
            placeholder="Zadejte dobu"
            min="6"
            max="60"
            (input)="changeOfNumOfMonths($event)"
            name="numOfMonths"
            [(ngModel)]="numOfMonthsNg"
          />
          <span>měsíců</span>
        </span>
      </div>

      <div class="flex rangeInput">
        <input
          #numOfMonthsRange
          type="range"
          id="numOfMonthsRange"
          name="numOfMonthsRange"
          min="6"
          max="60"
          value="12"
          step="2"
          (input)="changeOfNumOfMonthsRange($event)"
          [(ngModel)]="numOfMonthsNg"
        />
      </div>
      <div class="flexBetween">
        <span>6</span>
        <span>60</span>
      </div>
    </div>

    <div class="formDisplay" *ngIf="btnActive">
      <h2>Naše výhodná půjčka na vás čeká!</h2>
      <p>
        Výše úvěru:
        <span class="bold"> {{ numberWithSpaces(amountInput) }} Kč </span>
      </p>
      <p>
        Doba splácení:
        <span class="bold"> {{ numOfMOnthsInput }} měsíců </span>
      </p>
      <hr />
      <p *ngIf="this.requestCalc.monthlyPayment">
        Měsíční splátka:
        <span class="bold">
          {{ numberWithSpaces(this.requestCalc.monthlyPayment) }} Kč
        </span>
      </p>
      <p *ngIf="this.requestCalc.overallAmount">
        Celková částka:
        {{ numberWithSpaces(this.requestCalc.overallAmount) }} Kč
      </p>
      <p>
        Roční úroková sazba:
        {{ this.requestCalc.yearlyInterest | number: "" }} %
      </p>
      <p>RPSN: {{ this.requestCalc.RPSN | number: "" }} %</p>

      <p>
        {{
          this.requestCalc.fixedFee
            ? "Fixní poplatek: " +
              numberWithSpaces(this.requestCalc.fixedFee) +
              " Kč"
            : "Bez fixního poplatku!"
        }}
      </p>
    </div>

    <div class="flex">
      <button
        [ngClass]="{ hover: btnActive }"
        [disabled]="!btnActive"
        type="submit"
        class="btn"
        (click)="calculate(amount.value, numOfMonths.value)"
      >
        Mám zájem
      </button>
    </div>
  </div>
</form>
