.container {
  margin: 40px auto 40px auto;
  max-width: 800px;
  background-color: rgb(255, 255, 255);
  border: 60px solid rgba(255, 255, 255, 0);
}

h1 {
  text-align: center;
  color: #333333;
  margin-top: 0;
}

h2 {
  color: #333333;
}

h3 {
  text-align: center;
  color: #333333;
  margin-bottom: 0;
}

.personalInformation {
  max-width: 420px;
  margin: auto auto;
  font-size: 1.1rem;
  vertical-align: middle;
}

.bold {
  font-weight: bold;
}

.black {
  color: #333333;
}

.flex {
  display: flex;
  justify-content: space-between;
  color: #666666;
}

.item {
  margin-bottom: 3px;
}

.green {
  color: #00843d;
}

a {
  color: #00843d;
}

hr {
  border: solid #cccccc 0.5px;
  margin-bottom: 20px;
}

.red {
  color: rgb(188, 29, 29);
}

.blue {
  color: rgb(39, 39, 224);
}

.orange {
  color: #cca00f
}

.smallHeader {
  font-size: 1rem;
  font-weight: normal;
  border-bottom: solid 1px #cccccc;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.changeBtn {
  font-size: 1.4rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
  display: block;
  color: white;
  background-color:#068b9ad3;
  cursor: pointer;
  border-radius: 5px;
  margin: 15px auto  0px auto;
  border: none;
}

.changeBtn:hover {
  box-shadow: 0px 0px 6px #068b9ad3;
  color: white;
}

.confirmBtn {
  font-size: 1.4rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
  display: block;
  color: white;
  background-color:#00843ed3 ;
  cursor: pointer;
  border-radius: 5px;
  margin: 15px auto  0px auto;
  border: none;
}

.confirmBtn:hover {
  box-shadow: 0px 0px 6px #00843d;
  color: white;
}

.invalidBtn {
  font-size: 1.4rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
  display: block;
  color: white;
  background-color: rgb(209, 91, 40);
  cursor:auto;
  border-radius: 5px;
  margin: 15px auto  0px auto;
  border: none;
}


.amountInput {
  min-width: 50px;
  max-width: 100px;
  min-height: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem;
  border: #aadfc4 solid 3px;
  outline: none;
  border-radius: 7px;
  background-color: white;
  margin-right: 5px;
}

.numOfMonthsInput {
  min-width: 50px;
  max-width: 55px;
  min-height: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem;
  border: #aadfc4 solid 3px;
  outline: none;
  border-radius: 7px;
  background-color: white;
  margin-right: 5px;
}

span {
  display : flex;
  align-items : center;
}

.warning {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
text-align: center;
margin-right: 5px;
margin-left: 5px;
font-size: 1rem;
}